<% if @heroine.errors.any? %>
<% @heroine.errors.full_messages.each do |error| %>
<%= error %>
<% end %>
<% end %>

<h1>Create a new heroine!!!!!!!!!!</h1>
<%= form_for @heroine do |f| %>
<%= f.label "Name" %>
<%= f.text_field :name %>
<%= f.label "Super Name" %>
<%= f.text_field :super_name %>
<%= f.collection_select :power_id, Power.all, :id, :name %>
<%= f.submit %>
<% end %>
